<form method="post" action="{% url 'core_agreement_editor:modalchangefees' agreement_id %}?transaction_id={{ transaction_id}}" id="change-fees-form">
    {% csrf_token %}
    <div class="modal-body">
        <div class="modal-header">
            <h5 class="modal-title" id="edit_dates_agreement_modalLabel">Remove Fees for {{ transactiondate|date:"d/m/Y"}} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p></p>
            {% if rf != '0.00' %}
            <label class="control-label">Current Risk Fee (NET)</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&pound;</span>
                </div>
                <input class="form-control" type="text" id="riskfee" value="{{ rf }}" readonly>
                <input class="form-control" name="rf" value="{{ rf }}" hidden>
            </div>
            <p></p>

            <div class="input-group">
                Remove Risk Fee &nbsp; &nbsp;
                <div class="switch d-inline m-r-10">
                    <input id="remove_risk_fee" type="checkbox" unchecked="" onclick="change()" name="remove_risk_fee">
                    <label for="remove_risk_fee"></label>
                </div>

            </div>
            {% endif %}
            {% if bamf != '0.00' %}
            <label class="control-label">Current BAMF (NET)</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&pound;</span>
                </div>
                <input class="form-control" name="" type="text" id="bamffee" value="{{ bamf }}" readonly>
                <input class="form-control" name="bamf" value="{{ bamf }}" hidden>
            </div>
            <p></p>
            <div class="input-group">
                Remove BAMF &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="switch d-inline m-r-10">
                    <input id="remove_bamf" type="checkbox" unchecked="" onclick="change()" name="remove_bamf">
                    <label for="remove_bamf"></label>
                </div>
            </div>
            {% endif %}
            {% if bamf != '0.00' or rf != '0.00' %}
            <p></p>
            <input type="hidden" name="submit_type" id="submit_type">
            <button type="button" class="btn btn-success"  id="submit_single">Just This Transaction</button>
            <button type="button" class="btn btn-success" id="submit_all">All Future Transactions</button>
            <p></p>
            {% endif %}
            {% if bamf == '0.00' %}
                {% if rf == '0.00' %}
                    Fees have already been removed from this transaction.
                {% endif %}
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</form>
<script type="text/javascript">

    $("#submit_single").click(function(e) {
        $("#submit_type").val("single");
        $("#change-fees-form").submit();
    });

    $("#submit_all").click(function() {
        $("#submit_type").val("future");
        $("#change-fees-form").submit();
    });

</script>
<script>
$('#remove_risk_fee').click(function(){
    $('#riskfee').val('0.00');
});
$('#remove_bamf').click(function(){
    $('#bamffee').val('0.00');
});
</script>

