{% extends 'dashboard_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load widget_tweaks %}
{% block metadescription %}

{% endblock %}
{% block title %}

{% endblock %}
{% block page-css %}
{% endblock %}
{% block page-js %}
  <script src="{% static 'static_core_agreement_editor_template/js/editors.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h2 class="header-title" style="color: #8dabc4">NOTICE MANAGEMENT FOR {{ editor_detail.agreementnumber }}</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <!-- BUTTON TO TRIGGER THE ACTION -->
          <p>
            <button type="button" class="btn btn-success js-create-editor" data-url="{% url 'core_agreement_editor:editor_create' editor_detail.agreementnumber %}">
              <span class="mdi mdi-open-in-new"></span>
              Give Editor
            </button>
          </p>

          <table class="table table-hover table-sm border" id="editor-table">
            <thead class="thead-light">
              <tr>
                <th>Agreement Number</th>
                <th>Given Editor</th>
                <th>Editor Date</th>
                <th>1st Secondary</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% include 'includes/partial_editor_list.html' %}
            </tbody>
          </table>

          <!-- THE MODAL WE WILL BE USING -->
          <div class="modal fade" id="modal-editor">
            <div class="modal-dialog">
              <div class="modal-content">
              </div>
            </div>
          </div>

        </div>

    </div>

{% endblock %}

