{% extends "dashboard_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}
{% load ddic_extras %}
{% block metadescription %}
	GO DDIC Enquiry
{% endblock %}
{% block title %}
	GO DDIC Enquiry
{% endblock %}
{% block page-css %}
    <link href="{% static 'assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="page-header">
    <h2 class="header-title" style="color: #8dabc4">Companies House Changes</h2>
</div>
<div class="card">
    <div class="card-header border bottom p-b-10">
        <form method="get" class="form-inline">
            <span class="m-b-20 m-r-15"><h4 class="text-thin"><b>Filter by:</b> </h4></span>
            {% render_field companies_house_list.form.ncf_customer_number class="form-control m-b-20 m-r-15" placeholder="Customer Number"%}
            <span class="m-b-20 m-r-15"><h5 class="text-thin"> and </h5></span>

            {% render_field companies_house_list.form.company class="form-control m-b-20 m-r-15" placeholder="Company"%}
            <span class="m-b-20 m-r-15"><h5 class="text-thin"> and </h5></span>

            {% render_field companies_house_list.form.checked class="form-control m-b-20 m-r-15" placeholder=""%}
            <button type="submit" class="btn btn-icon btn-success m-b-20">
                <i class="mdi mdi-magnify"></i>
            </button>
            {% if has_filter %}
                <a class="btn btn-icon btn-warning m-b-20" href="{%  url 'core_companies_house:companies_house' %}">
                    <i class="mdi mdi-refresh"></i>
                </a>
            {% endif %}
        </form>
        <table class="table table-hover table-sm border">
            <thead class="thead-light">
            <tr>
                <th class="text-center">Customer Number</th>
                <th>Customer Company</th>

                <th class="text-left">Contact Name</th>
                <th class="text-left">Contact Number(s)</th>
                <th class="text-left">Account Manager</th>
                <th>Type of Change</th>
                <th class="text-center">Company House Link</th>

{#                <th class="text-left">Previous Info</th>#}
{#                <th class="text-left">New Info</th>#}
{#                <th class="text-left">Link</th>#}
                <th class="text-left">Checked</th>
{#                <th></th>#}
            </tr>
            </thead>
            <tbody>
            {% for row in companies_house_list_qs %}
                <tr >
                    <td class="text-center"> {# Agreement #}
                            <span >{{ row.ncf_customer_number }}</span>
                    </td>
                    <td > {# Agreement #}
                            <span >{{ row.company }}</span>
                    </td>

                    <td class="text-left">
                        <span >{{ row.contact_name }}</span>
                    </td>
                    <td class="text-left">
                        <span >{{ row.contact_number }}</span>
                    </td>
                    <td class="text-left">
                        <span >{{ row.account_manager}}</span>
                    </td>
                    <td> {# Customer #}
                        <span>{{ row.type_of_change }}</span>
                    </td>
                    <td class="text-center"> {# Agreement #}
                        <a class="btn btn-icon btn-danger" href="https://beta.companieshouse.gov.uk{{ row.link }}">
                            <span >{{ row.company_number }}</span>
                        </a>
                    </td>
{#                    <td class="text-left"> {# Customer #}
{#                        <span class="">{{ row.changed_field }}</span>#}
{#                    </td>#}
{#                    <td class="text-left"> {# Customer #}
{#                        <span class="">{{ row.previous_info }}</span>#}
{#                    </td>#}
{#                    <td class="text-left"> {# Customer #}
{#                        <span class="">{{ row.new_info }}</span>#}
{#                    </td>#}
{#                    <td class="text-left" href="{{ row.link}}"> {# Customer #}
{#                        <a class="btn btn-icon btn-danger m-b-20" href="https://beta.companieshouse.gov.uk{{ row.link }}">#}
{#                            <span> Companies House </span>#}
{#                        </a>#}
{#                    </td>#}

                    <td class="text-left font-size-19">
                        <div class="switch d-inline m-r-10">
                            <input class="checked-check" id="switch_{{ forloop.counter }}"
                                   type="checkbox" unchecked=""
                                   data-etag="{{  row.etag }}"
{#                                   data-ncf_customer_number="{{  row.ncf_customer_number}}"#}
{#                                   data-date="{{ ddic.ddic_DateOfOriginalDD|date:"Y-m-d" }}"#}
{#                                   data-ddic-type="{{ ddic.ddic_DDIC_Type }}" #}
                                    {% if row.checked == 'Checked' %}checked=""{% endif %}
                            >
                            <label for="switch_{{ forloop.counter }}"></label>
                        </div>
                        <a href='javascript:void(window.open("{% url 'notes:main' %}?customer_id={{ row.ncf_customer_number }}&agreement_id=", "core_notes", "scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no, width=2000,height=1000,left=0,top=0"));' data-toggle="tooltip" data-placement="bottom" title data-original-title="Notes" class="text-success m-r-15"><i class="ti-write" data-customer-id="{{ agreement.agreementcustomernumber }}" data-agreement-id="{{ agreement.agreementnumber }}"></i></a>
                        <a href="{% url 'core_agreement_crud:AgreementEnquiryList'%}?agreementnumber=&customercompany={{ row.company }}&agreementclosedflag_id=&agreementddstatus_id=&agreement_stage=&agreement_closed_reason=" data-toggle="tooltip" data-placement="bottom" title data-original-title="Agreement Enquiry" class="text-success m-r-15"><i class="ti-layers"></i></a>

                    </td>
{#                    <td class="text-right">#}
{##}
{#                        <span>{{ row.Checked }}</span>#}
{#                    </td>#}
{#                    <td class="text-right font-size-18">#}
{#                        <a href="{% url 'dashboard:AgreementEnquiryDetail' ddic.agreement_id%}" class="text-success m-r-15"><i class="ti-layers"></i></a>#}
{#                        <a href='javascript:void(window.open("{% url 'notes:main' %}?customer_id={{ ddic.customer_id }}&agreement_id={{ ddic.agreement_id }}", "core_notes"), rel="noopener", chrome="on");' class="text-success m-r-15"><i class="ti-write"></i></a>#}
{##}
{#                    </td>#}
                </tr>
            {% endfor %}
        </table>
        <div class="card-footer border bottom text-left">
            <div >
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% if companies_house_list_qs.has_previous %}
                            <li class="paginate_button page-item previous">
                                {% if 'agreementnumber' in request.get_full_path %}
                                    <a href="{{ request.get_full_path }}&page={{ companies_house_list_qs.previous_page_number }}" aria-controls="dt-opt" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                {% else %}
                                    <a href="?page={{ companies_house_list_qs.previous_page_number }}" aria-controls="dt-opt" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="paginate_button page-item previous disabled">
                                <a href="#" aria-controls="dt-opt" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in companies_house_list_qs.paginator.page_range %}
                            {% if companies_house_list_qs.number == i %}
                                <li class="paginate_button page-item active">
                                    {% if 'agreementnumber' in request.get_full_path %}
                                        <a href="{{ request.get_full_path }}&page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                    {% else %}
                                        <a href="?page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                    {% endif %}
                                </li>
                            {% else %}
                            {% if companies_house_list_qs.number < i %}
                                {% if companies_house_list_qs.number|add:"1" >= i %}
                                    <li class="paginate_button page-item">
                                        {% if 'agreementnumber' in request.get_full_path %}
                                            <a href="{{ request.get_full_path }}&page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                        {% else %}
                                            <a href="?page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                {% if companies_house_list_qs.paginator.num_pages == i %}
                                    <li class="paginate_button page-item disabled">
                                        <a href="#" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item">
                                        {% if 'agreementnumber' in request.get_full_path %}
                                            <a href="{{ request.get_full_path }}&page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                        {% else %}
                                            <a href="?page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                                {% endif %}
                            {% endif %}
                                {% if companies_house_list_qs.number > i %}
                                    {% if companies_house_list_qs.number|add:"-2" < i  %}
                                        <li class="paginate_button page-item">
                                            {% if 'agreementnumber' in request.get_full_path %}
                                                <a href="{{ request.get_full_path }}&page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                            {% else %}
                                                <a href="?page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                    {% if 1 == i %}
                                        <li class="paginate_button page-item">
                                            {% if 'agreementnumber' in request.get_full_path %}
                                                <a href="{{ request.get_full_path }}&page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                            {% else %}
                                                <a href="?page={{ i }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
                                            {% endif %}
                                        </li>
                                        <li class="paginate_button page-item disabled">
                                            <a href="#" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if companies_house_list_qs.has_next %}
                            <li class="paginate_button page-item next" id="dt-opt_next">
                                {% if 'agreementnumber' in request.get_full_path %}
                                    <a href="{{ request.get_full_path }}&page={{ companies_house_list_qs.next_page_number }}" aria-controls="dt-opt" data-dt-idx="3" tabindex="0" class="page-link">Next</a>
                                {% else %}
                                    <a href="?page={{ companies_house_list_qs.next_page_number }}" aria-controls="dt-opt" data-dt-idx="1" tabindex="0" class="page-link">Next</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="paginate_button page-item next disabled" id="dt-opt_next">
                                <a href="#" aria-controls="dt-opt" data-dt-idx="3" tabindex="0" class="page-link">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block page-js %}
    {% include 'notes_core.html' %}
    <script src="{% static 'assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js'%}"></script>
    <script>
        $(function() {
            $(".checked-check").click(function() {

                var checked = 'Unchecked';
                if($(this).is(':checked')) {
                    checked = 'Checked';
                }

                $.ajax({
                    method: 'POST',
                    data: {
                        'etag': $(this).attr('data-etag'),
                        {#'ddic_type': $(this).attr('data-ddic-type'),#}
                        {#'ddic_date': $(this).attr('data-date'),#}
                        'checked': checked,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    url: '{% url 'core_companies_house:update_companies_house' %}',
                    success: function(data) {
                        if (data.count > 0) {
                        $("#companies_house_new_badge").html(data.count).show();
                        } else {
                        $("#companies_house_new_badge").html(data.count).hide();
                        }
                    },
                    error: function(data) {
                        alert(JSON.stringify(data));
                    }
                });

                {#$.ajax({#}
                {#    method: 'GET',#}
                {#    url: '{% url 'core_ddic:active_ddic' %}',#}
                {#    success: function(data) {#}
                {#        if (data.count > 0) {#}
                {#            $("#ddic_new_badge").html(data.count).show();#}
                {#        } else {#}
                {#            $("#ddic_new_badge").html(data.count).hide();#}
                {#        }#}
                {#    }#}
                {# }) #}

            });
        });

    </script>
{% endblock %}